@keyframes decreaseBlur {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0px);
  }
}

.blurredText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem 0rem;
  animation: decreaseBlur 1s ease forwards;
  overflow-y: auto;
}


