@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  color: #fff;
  scrollbar-color: rgb(99, 99, 99) rgba(255, 255, 255);
  scrollbar-width: thin;
}

body {
  min-height: 100vh;
  background-image: url(/src/Asserts/Images/ToyerBackground.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


Form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

li {
  list-style-type: none;
}

a,
a:visited {
  color: #fff;
}

.input-style,
.generalButton,
.textarea-style {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

label,
.input-style,
.textarea-style {
  margin-bottom: 0.4em;
}

.textarea-style {
  min-width: 30rem;
  resize: none;
  min-height: 15rem;
}

.generalButton {
  padding: 0.5em;
  margin: 0.3em;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
  margin-bottom: 0.5rem;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid white;
  padding: 0.3rem 1rem 0.3rem 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.521);
}

td {
  border: 1px solid white;
  padding: 0.3rem 2rem 0.3rem 2rem;
  text-align: left;
  background-color: rgba(85, 85, 85, 0.25);
}

tr:nth-child(even) {
  background-color: rgba(201, 201, 201, 0.25);
}
