.settingsOptions {
  display: flex;
  flex-direction: column;
}

.settingsHeader {
  padding: 1rem;
  text-align: center;
}

.settingsOptionsDescription {
  padding: 0.5rem;
}

.settingsUnit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 7em;
}

.settingsContainer {
  margin: 1rem;
  width: 100%;
  max-width: 30vw;
  min-width: 20em;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.description {
  font-size: 18px;
}

.subnaviagationContainer {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.navLink {
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}



