.assigmentContainer{
    width: 100%;
    max-width: 24rem;
    min-width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.generalButton{
    width: 18rem;
}