.header {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav ul {
  display: flex;
}

nav ul li a {
  margin-top: 0.5rem;
  margin-left: 2rem;
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  border-radius: 20%;
  background: white;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a.active::after {
  width: 80%;
  left: 10%;
}

nav .selectMenu {
  display: none;
  position: absolute;
  top: 52px;
  right: 6rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer;
}

nav .selectMenu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

@media (max-width: 700px) {
  nav .selectMenu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
  }

  .open {
    display: flex;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  .iconContainer {
    position: absolute;
    top: 52px;
    right: 2rem;
  }
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconContainer:hover {
  cursor: pointer;
}

.loginBackground {
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(58, 58, 58, 0.411);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: start;
  z-index: 1;
}

.logo:hover {
  cursor: pointer;
}
